<div class="container">

    <div class="master-grid">
        <a [routerLink]="['filter','half-tshirt']" class="types half-tshirt">
            <h2>HALF T-SHIRT</h2>
        </a>
        <a [routerLink]="['filter','women-half-tshirt']" class="types women-half-tshirt">
            <h2> WOMEN <span>HALF T-SHIRT</span></h2>
        </a>
        <a [routerLink]="['filter','full-tshirt']" class="types full-tshirt">
            <h2>FULL T-SHIRT</h2>
        </a>
        <a [routerLink]="['filter','women-full-tshirt']" class="types women-full-tshirt">
            <h2> WOMEN <span>FULL T-SHIRT</span></h2>
        </a>
        <a [routerLink]="['filter','vneck-half-tshirt']" class="types vneck-half-tshirt">
            <h2>V-NECK <span>HALF T-SHIRT</span></h2>
        </a>
        <a [routerLink]="['filter','hoodie']" class="types hoodie">
            <h2>HOODIE</h2>
        </a>
        <a [routerLink]="['filter','sweatshirt']" class="types sweatshirt">
            <h2>SWEATSHIRT</h2>
        </a>
        <a [routerLink]="['filter','tanktop']" class="types tank-top">
            <h2>TANK TOP</h2>
        </a>
        <a [routerLink]="['filter','kids-half-tshirt']" class="types kid-half-tshirt">
            <h2>KIDS <span>HALF T-SHIRT</span></h2>
        </a>
        <a [routerLink]="['filter','oversized-tshirt']" class="types oversized-tshirt">
            <h2>OVERSIZED <span>T-SHIRT</span></h2>
        </a>
        <a [routerLink]="['filter','joggers']" class="types joggers">
            <h2>JOGGERS</h2>
        </a>
        <a [routerLink]="['filter','throw-pillow']" class="types throw-pillow">
            <h2>THROW PILLOW</h2>
        </a>
    </div>

</div>