.container{
    margin-top: 15px;
}

.cat{
    background-color: #ecececb5;
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
}
.cat h2{
    font-size: 18px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    color: #1e1a1ab8;
    margin: 0;
}

.helper{
    display: flex;
    
}
.filtername{
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #1e1a1ab8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}