<app-filterbar></app-filterbar>

<app-filters></app-filters>

<div class="container">

    <div class="all-clothes-title">
        <h2>Welcome To Store</h2>
    </div>


    <div class="grid-wrapper">

        <div class="card-container">
            <div class="pic">
                <img
                    src="https://cdn.shopify.com/s/files/1/1231/6442/products/M-TSHIRT-16794-20229-LAWNGREEN_6.jpg?v=1661146152">
            </div>
            <div class="text">
                <div class="title-wishlistlogo">
                    <h3>T-shrit</h3>
                    <mat-icon class="wishlist-btn" [ngStyle]="{'color': wishlistAdded ? 'red' : 'black'}"
                        (click)="toggleWishlist()">{{wishlistAdded?'favorite':'favorite_border'}}
                    </mat-icon>
                </div>
                <p>{{des | slice:0:10}}...</p>
                <p>499</p>
            </div>
        </div>
        <div class="card-container">
            <div class="pic">
                <img
                    src="https://cdn.shopify.com/s/files/1/1231/6442/products/M-TSHIRT-16794-20229-LAWNGREEN_6.jpg?v=1661146152">
            </div>
            <div class="text">
                <div class="title-wishlistlogo">
                    <h3>T-shrit</h3>
                    <mat-icon class="wishlist-btn" [ngStyle]="{'color': wishlistAdded ? 'red' : 'black'}"
                        (click)="toggleWishlist()">{{wishlistAdded?'favorite':'favorite_border'}}
                    </mat-icon>
                </div>
                <p>{{des | slice:0:10}}...</p>
                <p>499</p>
            </div>
        </div>
        <div class="card-container">
            <div class="pic">
                <img
                    src="https://cdn.shopify.com/s/files/1/1231/6442/products/M-TSHIRT-16794-20229-LAWNGREEN_6.jpg?v=1661146152">
            </div>
            <div class="text">
                <div class="title-wishlistlogo">
                    <h3>T-shrit</h3>
                    <mat-icon class="wishlist-btn" [ngStyle]="{'color': wishlistAdded ? 'red' : 'black'}"
                        (click)="toggleWishlist()">{{wishlistAdded?'favorite':'favorite_border'}}
                    </mat-icon>
                </div>
                <p>{{des | slice:0:10}}...</p>
                <p>499</p>
            </div>
        </div>
        <div class="card-container">
            <div class="pic">
                <img
                    src="https://cdn.shopify.com/s/files/1/1231/6442/products/M-TSHIRT-16794-20229-LAWNGREEN_6.jpg?v=1661146152">
            </div>
            <div class="text">
                <div class="title-wishlistlogo">
                    <h3>T-shrit</h3>
                    <mat-icon class="wishlist-btn" [ngStyle]="{'color': wishlistAdded ? 'red' : 'black'}"
                        (click)="toggleWishlist()">{{wishlistAdded?'favorite':'favorite_border'}}
                    </mat-icon>
                </div>
                <p>{{des | slice:0:10}}...</p>
                <p>499</p>
            </div>
        </div>
        <div class="card-container">
            <div class="pic">
                <img
                    src="https://cdn.shopify.com/s/files/1/1231/6442/products/M-TSHIRT-16794-20229-LAWNGREEN_6.jpg?v=1661146152">
            </div>
            <div class="text">
                <div class="title-wishlistlogo">
                    <h3>T-shrit</h3>
                    <mat-icon class="wishlist-btn" [ngStyle]="{'color': wishlistAdded ? 'red' : 'black'}"
                        (click)="toggleWishlist()">{{wishlistAdded?'favorite':'favorite_border'}}
                    </mat-icon>
                </div>
                <p>{{des | slice:0:10}}...</p>
                <p>499</p>
            </div>
        </div>

    </div>

</div>